@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');

:root {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    font-size: large;
}

input, textarea, select, button {
    place-self: center;
    border-radius: 0.5rem;
    border-width: 0.1rem;
    font-size: medium;
    height:fit-content;
    width: fit-content;
    padding: 0.25rem;
}